Repository kubermatic/kubeone, pull requests merged in 2025-05, with the labels that each got.

#3649 Also configure inotify instances
  pkg/scripts/funcs.go
  pkg/scripts/testdata/TestAmazonLinuxScript-install_all.golden
  pkg/scripts/testdata/TestAmazonLinuxScript-install_all_with_force.golden
  pkg/scripts/testdata/TestAmazonLinuxScript-install_all_with_proxy.golden
  pkg/scripts/testdata/TestAmazonLinuxScript-upgrade_kubeadm_and_kubectl.golden
  pkg/scripts/testdata/TestAmazonLinuxScript-upgrade_kubeadm_and_kubectl_with_force.golden
  pkg/scripts/testdata/TestAmazonLinuxScript-upgrade_kubelet.golden
  pkg/scripts/testdata/TestDebScript-install_all.golden
  pkg/scripts/testdata/TestDebScript-install_all_with_force.golden
  pkg/scripts/testdata/TestDebScript-install_all_with_proxy.golden
  pkg/scripts/testdata/TestDebScript-upgrade_kubeadm_and_kubectl.golden
  pkg/scripts/testdata/TestDebScript-upgrade_kubeadm_and_kubectl_with_force.golden
  pkg/scripts/testdata/TestDebScript-upgrade_kubelet.golden
  pkg/scripts/testdata/TestFlatcarScript-install_all.golden
  pkg/scripts/testdata/TestFlatcarScript-install_all_with_force.golden
  pkg/scripts/testdata/TestFlatcarScript-install_all_with_proxy.golden
  pkg/scripts/testdata/TestFlatcarScript-upgrade_kubeadm_and_kubectl.golden
  pkg/scripts/testdata/TestFlatcarScript-upgrade_kubeadm_and_kubectl_with_force.golden
  pkg/scripts/testdata/TestFlatcarScript-upgrade_kubelet.golden
  pkg/scripts/testdata/TestRHELLikeScript-install_all.golden
  pkg/scripts/testdata/TestRHELLikeScript-install_all_with_force.golden
  pkg/scripts/testdata/TestRHELLikeScript-install_all_with_proxy.golden
  pkg/scripts/testdata/TestRHELLikeScript-upgrade_kubeadm_and_kubectl.golden
  pkg/scripts/testdata/TestRHELLikeScript-upgrade_kubeadm_and_kubectl_with_force.golden
  pkg/scripts/testdata/TestRHELLikeScript-upgrade_kubelet.golden
Labels: kind/bug, size/S, lgtm, release-note, approved, needs-ok-to-test, dco-signoff: yes, docs/none

#3647 Add CA Config API
  Makefile
  addons/backups-restic/backups-restic.yaml
  addons/ccm-nutanix/Kustomization
  addons/ccm-nutanix/nutanix-ccm.yaml
  addons/ccm-nutanix/nutanix-config.yaml
  addons/ccm-openstack/Kustomization
  addons/ccm-openstack/ccm-openstack.yaml
  addons/ccm-vsphere/ccm-vsphere.yaml
  addons/csi-nutanix/Kustomization
  addons/csi-nutanix/nutanix-csi-storage.yaml
  addons/csi-openstack-cinder/openstack-csi-cinder.yaml
  addons/csi-vsphere-ks/validatingwebhook.yaml
  addons/csi-vsphere-ks/vsphere-csi-driver.yaml
  addons/csi-vsphere/1-vsphere-csi-driver.yaml
  addons/csi-vsphere/2-validatingwebhook.yaml
  addons/machinecontroller/deployment-controller.yaml
  addons/machinecontroller/webhook.yaml
  addons/operating-system-manager/deployment-controller.yaml
  docs/api_reference/v1beta2.en.md
  docs/api_reference/v1beta3.en.md
  pkg/addons/manifest.go
  pkg/addons/manifest_test.go
  pkg/apis/kubeone/config/config.go
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1beta2/defaults.go
  pkg/apis/kubeone/v1beta2/types.go
  pkg/apis/kubeone/v1beta2/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta2/zz_generated.deepcopy.go
  pkg/apis/kubeone/v1beta3/defaults.go
  pkg/apis/kubeone/v1beta3/types.go
  pkg/apis/kubeone/v1beta3/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta3/zz_generated.deepcopy.go
  pkg/apis/kubeone/validation/validation.go
  pkg/apis/kubeone/zz_generated.deepcopy.go
  pkg/cmd/local.go
  test/e2e/kubeone.go
Labels: kind/feature, lgtm, release-note, size/XL, approved, dco-signoff: yes, docs/none

#3651 add initial k8s 1.33 support
  .prow/generated.yaml
  pkg/apis/kubeone/helpers.go
  pkg/apis/kubeone/validation/validation.go
  pkg/apis/kubeone/validation/validation_test.go
  pkg/scripts/os_flatcar.go
  test/README.md
  test/e2e/tests_test.go
  test/tests.yml
Labels: kind/feature, lgtm, release-note, approved, size/XXL, dco-signoff: yes, docs/none

#3658 Allow control-plane and static workers nodes annotation
  docs/api_reference/v1beta2.en.md
  docs/api_reference/v1beta3.en.md
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1beta2/types.go
  pkg/apis/kubeone/v1beta2/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta2/zz_generated.deepcopy.go
  pkg/apis/kubeone/v1beta3/types.go
  pkg/apis/kubeone/v1beta3/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta3/zz_generated.deepcopy.go
  pkg/apis/kubeone/validation/validation.go
  pkg/apis/kubeone/zz_generated.deepcopy.go
  pkg/tasks/nodes.go
  pkg/tasks/tasks.go
  pkg/terraform/v1beta2/config.go
  pkg/terraform/v1beta3/config.go
Labels: kind/feature, lgtm, release-note, size/L, approved, dco-signoff: yes, docs/tbd

#3660 bump remaining addon images for k8s 1.33 support
  pkg/templates/images/images.go
Labels: size/XS, lgtm, release-note, approved, dco-signoff: yes, kind/chore, docs/none

#3663 remove calico vxlan from gh issue template
  .github/ISSUE_TEMPLATE/update-images.md
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, kind/chore, docs/none

#3661 Support KubeVirt CCM Deployment
  addons/ccm-kubevirt/Kustomization
  addons/ccm-kubevirt/README.md
  addons/ccm-kubevirt/ccm-kubevirt.yaml
  addons/ccm-kubevirt/config-map.yaml
  addons/csi-kubevirt/2-kubevirt-csi-controller.yaml
  docs/api_reference/v1beta2.en.md
  docs/api_reference/v1beta3.en.md
  pkg/addons/ensure.go
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1beta2/types.go
  pkg/apis/kubeone/v1beta2/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta3/types.go
  pkg/apis/kubeone/v1beta3/zz_generated.conversion.go
  pkg/apis/kubeone/validation/validation.go
  pkg/apis/kubeone/validation/validation_test.go
  pkg/templates/images/images.go
  pkg/templates/images/resource_string.go
  pkg/templates/resources/resources.go
Labels: kind/feature, lgtm, release-note, size/L, approved, dco-signoff: yes, docs/none
